BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
UseTab: Never

---
Language: Cpp
Standard: c++20

SortIncludes: true
IncludeBlocks: Preserve
PointerAlignment: Left
AlignArrayOfStructures: Right
AlignAfterOpenBracket: Align
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Empty

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

---
