---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
IncludeBlocks: Preserve
SortIncludes: true
AlignArrayOfStructures: Right
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
NamespaceIndentation: All
AllowShortFunctionsOnASingleLine: Empty